<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE Config SYSTEM "config.dtd">

<!--
	Configuration file for FlowEinziehen
	
	== Debugging levels:

		1. CRITICAL
		2. ERROR
		3. WARNING
		4. INFO
		5. DEBUG

	== Sample Configuration file

	<Config>
	  <Logging>
	    <global log_lvl="4" printf_lvl="3" />
	    <nfq log_lvl="4" printf_lvl="3" />
	  </Logging>

	  <Queue number="0" />

	  <GUI_socket port="4005" />

	</Config>
-->

<Config>
  <Logging>
    <global log_lvl="5" printf_lvl="5" />
    <nfq log_lvl="5" printf_lvl="5" />
  </Logging>

  <Queue number="0" />

  <GUI_socket port="4005" />

</Config>


