<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE Config SYSTEM "config.dtd">

<!--
	Configuration file for FlowEinziehen

FormatExample:
<Config>
	<Logging global="4" globalonscreen="4" nfq="4" nfqonscreen="3" />
	<Queue number="0" />
	<GUI_socket port="4005" />
</Config>
-->

<Config>
  <Logging>
    <global log_lvl="4" printf_lvl="4" />
    <nfq log_lvl="4" printf_lvl="3" />
  </Logging>

  <Queue number="0" />

  <GUI_socket port="4005" />

</Config>


